TZ=UTC

NODE_ENV=development

PORT=8080
TLS_PORT=8081
DB_PORT=17011
PMA_PORT=17012

HOST=0.0.0.0

HTTP_PORT=17000
SSL_PORT=17001

HOST_URL=

DB_DEV_USERNAME=carpet_admin
DB_DEV_PASSWORD=carpet_admin
DB_DEV_DATABASE=carpet
DB_DEV_HOST=db
DB_DEV_DIALECT=mysql

DB_TEST_USERNAME=carpet_admin_test
DB_TEST_PASSWORD=carpet_admin_test
DB_TEST_DATABASE=carpet_admin_test
DB_TEST_HOST=127.0.0.1
DB_TEST_DIALECT=mysql

DB_PROD_USERNAME=carpet_admin_prod
DB_PROD_PASSWORD=carpet_admin_prod
DB_PROD_DATABASE=carpet_admin_prod
DB_PROD_HOST=127.0.0.1
DB_PROD_DIALECT=mysql

REDIS_PORT=6379
REDIS_HOST=redis
REDIS_PASSWORD=carpet_admin

DB_HOST=db
DB_PORT=3306
DB_USERNAME=carpet
DB_PASSWORD=carpet
DB_NAME=nurish

TYPEORM_CONNECTION=mysql
TYPEORM_HOST=db
TYPEORM_USERNAME=carpet_admin
TYPEORM_PASSWORD=carpet_admin
TYPEORM_DATABASE=carpet
TYPEORM_PORT=3306
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=carpet/src/entity/**/*.ts
TYPEORM_MIGRATIONS=carpet/src/migration/**/*.ts
TYPEORM_SUBSCRIBERS=carpet/src/subscriber/**/*.ts
TYPEORM_SEEDING_FACTORIES=carpet/src/factories/**/*{.ts,.js}
TYPEORM_SEEDING_SEEDS=carpet/src/seeds/**/*{.ts,.js}

NOTIFICATION_HOST=0.0.0.0
NOTIFICATION_PORT=8085

MESSAGE_HOST=0.0.0.0
MESSAGE_PORT=8086

AWS_BUCKET=carpet-assets
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_KEY=

STORAGE_PORT=9000
STORAGE_CONSOLE_PORT=9001